* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* home section */

.home {
    background-color: #2e2c2c;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #2e2c2c;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-right: 8%;
    padding-left: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0.7em 1.6em;
    display: inline-block;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #12aad8;
}

h2 {
    color: #fffaf7;
    font-size: 40px;
    letter-spacing: 2px;
    cursor: pointer;
}

h2:hover {
    color: #12aad8;
}

.btn {
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 0.90em 1.70em;
    border-radius: 40px;
    background-color: red;
    letter-spacing: 2px;
    transition: 0.4s;
}

.btn:hover {
    color: black;
    transform: scale(1.1)
}

.content {
    background-color: #363c43;
    flex-grow: 1;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .texts:hover h1,
h4,
h3,
.skils h1 {
    cursor: pointer;
}

h1 {
    color: #c14545;
    font-size: 25px;
}

h3 {
    margin-top: 11px;
    padding: 2px;
    font-size: 40px;
}

h4 {
    padding: 2px;
    font-size: 30px;
    margin-bottom: 0.8em;
}

span {
    color: red;
    font-size: 40px;
}

.texts .btn {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.70em 2em;
    border-radius: 20px;
    background-color: red;
    letter-spacing: 3px;
    transition: 0.4s;
}

.texts .btn:hover {
    color: black;
}

.social {
    margin-top: 20px;
}

.social img {
    padding: 3px;
    margin-right: 2px;
    width: 3em;
}

.social img:hover {
    transform: scale(1.2)
}

.image {
    width: 10%;
    position: relative;
    align-self: flex-end;
}

.image img {
    border-radius: 35%;
    left: -300%;
    width: 20em;
    position: absolute;
    bottom: 75px;
}





/* About me section */


.about {
    display: flex;
    align-items: center;
    padding: 2% 3%;
    background-color: #2e2c2c;
}

.about .texts {
    width: 600px;
    margin-left: 230px;
}

.about h3 {
    margin-bottom: 10px;
    color: #d4c3c3;
}

.about h5 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 35px;
}

.about p {
    font-size: 30px;
    letter-spacing: 1px;
    color: #c4d4e2;
}

.about .images,
.skills .image {
    width: 30%;
}

.about .images img,
.skills .img img {
    width: 20em;
}





/* My skills section */

.skills {
    padding: 2% 4%;
    background-color: #363c43;
}

.skills h1 {
    color: white;
    font-size: 50px;
}


.skills .logo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.skills .card img,
.card1 img {
    width: 60px;
    transition: 0.3s;
}

.skills .card img:hover {
    transform: scale(1.2);
}

.skills .card1 img {
    width: 100px;
}

.skills .card1 img:hover {
    transform: scale(1.2);
}

.skills .card2 {
    text-align: center;
    transition: 0.4s;
}

.skills .card2:hover {
    transform: scale(1.2);
}

.skills .card2 img {
    margin-top: -35px;
    width: 90px;
    transition: 0.3s;
}

.skills .card2 h1 {
    margin-right: -10px;
    margin-bottom: 12px;
    color: #191616;
    font-size: 20px;
    transition: 0.3;
}






/* My projects section */

.projects {
    padding: 2% 7%;
    background-color: #2e2c2c;
}

.projects h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.projects .links a {
    display: flex;
    justify-content: center;
    margin-top: 8em;
}

.projects .links a img {
    width: 50%;
}



/* for mobiles*/

@media screen and (max-width: 575px) {
    .home nav {
        font-size: 14px;
        height: 10vh;
        padding-bottom: 7em;
        flex-direction: column;
    }
    
    .home nav ul{
        position: relative;
        top: -40px;
    }

    .home h2 {
        display:none;
    }
    
    .home nav .btn{
        position: relative;
        left: 9.2em;
        top: -5em;
    }

    .content{
        padding: 12%;
    }
    

    .image img {
        display: none;
    }

    .about .texts {
        margin-left: -80px;
        height: 110vh;
        flex-shrink: 4;
    }

    .about img {
        display: none;
    }

    .skills .logo {
        gap: 20px;
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .projects .links A img {
        width: 90%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .image {
        display: none;
    }
}

/* microsoft surface due */

@media screen and (max-width: 2700px) {
    .image {
        top: 0em;
    }


    /* ipads and tabs */

    @media screen and (max-width: 2570px) {
        .image {
            bottom: 12em;
        }
    }
